<section class="volcano-search">
    <h1>Search</h1>

    <form class="search-form" method="GET">
        <input type="text" class="search-volcano" name="name" value="{{query.name}}" placeholder="Search by Name...">
        <select id="type" name="typeVolcano">
            {{#each volcanoTypes}}
            <option value="{{value}}" {{selected}}>{{label}}</option>
            {{/each}}
        </select>
        <button type="submit" class="btn-search">Search</button>
    </form>
    {{#if volcanoes}}
    <div class="search-result">
        <div class="search-list">
            {{#each volcanoes}}
            {{>volcano}}
            {{/each}}
        </div>

    </div>
    {{else}}
    <div class="no-match">
        <p>No match was found!</p>
    </div>
    {{/if}}
</section>